# import library

In [16]:
# import library

import pickle
import json
import pandas as pd
import numpy as np
from sklearn.compose import ColumnTransformer

Melakukan import Library yang akan kita gunakan untuk notebook inference

# load model

In [17]:
# Load all Files

with open('pipelines.pkl', 'rb') as file_1:
  pipelines = pickle.load(file_1)

with open('num_columns.txt', 'r') as file_2:
  num_columns = json.load(file_2)

with open('cat_columns.txt', 'r') as file_3:
  cat_columns = json.load(file_3)

with open('enc_columns.txt', 'r') as file_4:
  enc_columns = json.load(file_4)

Me load data-data yang sudah kita save di notebook sebelumnya.

# inferencing

In [18]:
# Create New Data

data_inf = {
    'RowNumber': 666,
    'CustomerId': 666,
    'Surname': 'Paijo',
    'CreditScore': 600,
    'Geography' : 'France',
    'Gender': 'Male',
    'Age': 56,
    'Tenure': 10,
    'Balance': 25000,
    'NumOfProducts': 1,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 25000,
}

data_inf = pd.DataFrame([data_inf])
data_inf

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,666,666,Paijo,600,France,Male,56,10,25000,1,1,1,25000

Membuat data baru berdasarkan data-data dari data frame original.

In [19]:
# predict using Pipelines Base model Decision Tree regresson

y_pred_inf = pipelines.predict(data_inf)
y_pred_inf

array([1], dtype=int64)

Dari Data dan value yang sudah kita imput, dilakukan prediksi dan hasilnya menunjukan bahwa dari kriteria yang sudah kita input menunjukan Hasil prediksi adalah 1 artinya prediksi tersebut menunjukan bahwa Nasabah Tersebut akan Churn.